<h1> Burgers!</h1>


<form id="createburger" class= "button-size">
    <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger" name="name">
        
    </div>
<button type="submit" class="bb" id="newburger" data-id="{{this.id}}" data-newDevouredBurger="{{devoured}}">Add Burger!</button>
</form>


<h2>Burgers that you want to devour!</h2>

<ul>
    {{#each burgers}}
      {{#unless devoured}}
        <li>{{this.id}} - {{this.burger_name }} <button type="Submit" data-id="{{this.id}}" class="updateburger">Devoured</button></li> 
    {{/unless}}   
    {{/each}}
</ul>



<h2>Burgers that you have devoured</h2>

<form id="updateburger" class="button-size">
   
    <textarea type="text" name="burger" placeholder="burger"></textarea>


</form>

<ul>
     {{#each burgers}}
     {{#if devoured}}
     <li>{{this.id}} - {{this.burger_name}}  <button type="Submit" data-id="{{this.id}}" data-newDevouredBurger="{{devoured}}">Devoured</button></li> 
    {{/if}}
     {{/each}}
</ul>



